body {
  background-color:#008000;
  font:"Times New Roman", Times, serif;
  color:#00ff00;
}

a {
  color:#ff0000;
}

h1 {
  background-color: #444444;
  text-align: left;

}

div {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  background-color: #444444;

}

.hidden{
  display: none;
}

.visible{
  display:block;
}
